
//fonts
$kaushan: 'Kaushan Script', cursive;
$montserrat: 'Montserrat', sans-serif;
$roboto: "Roboto", sans-serif;

//colors
$header-color: #ffffff;
$red: #f38181;
$blue: #95e1d3;
$yellow: #fce38a;
$bg-grey: #f8f8f8;
$main-title: #333333;
$main-text: #999999;
$foo-grey: #cccccc;

//margins
$blocks-margin: 110px;
$post-row-margin: 80px;
$foo-margin: 42px;